@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .about-container{
        @apply grid h-fit w-fit grid-cols-2 grid-rows-1 z-30 border-b-4 border-black
        md:flex md:flex-col md:min-h-screen
    }

    .experience-container{
        @apply flex flex-col h-fit w-full items-center relative border-b-4 border-black z-30 p-8
        md:min-h-screen
    }

    .exp-container{
        @apply flex flex-col min-h-screen w-full items-center z-30 p-8
    }

    .about-content1{
        @apply grid h-full grid-rows-2 grid-cols-1 p-8 

    }

    .about-content2{
        @apply grid h-full grid-cols-[1fr_280px_1fr] grid-rows-[1fr_260px_120px_1fr] relative bg-x-pattern  border-l-4 border-black 
        md:grid-rows-[1fr_260px_100px_1fr] md:border-t-4 md:border-l-0 md:p-4
        sm:grid-cols-[1fr_256px_1fr]
    }

    .experience-content{
        @apply flex flex-row flex-wrap justify-center items-start gap-14 mt-10 static mb-40
        md:flex-col
    }

    .exp-content{
        @apply flex flex-col justify-center mt-10 gap-20
    }
    
    .profile-card{
        @apply grid grid-cols-1 h-fit grid-rows-[260px,100px] relative z-20 items-center bg-custom-white border-custom rounded-md border-custom-black shadow-custom-black px-4 pt-4 row-start-2 row-end-4 col-start-2 col-end-2
        md:row-start-2 md:row-end-4 md:col-start-2 md:col-end-2 md:grid-rows-[240px,100px]
    }

    .experience-card{
        @apply flex flex-col w-80 h-fit bg-custom-white border-custom rounded-md border-custom-black shadow-custom-black p-6 gap-4
        sm:w-64
    }

    .experience-duration{
        @apply flex-shrink-0 self-end mb-2
    }

    .tech-tag{
        @apply bg-gray-200 text-gray-700 px-2 py-1 rounded-md text-sm font-body
    }

    .img-card{
        @apply bg-custom-white border-custom rounded-md border-custom-black transform transition-transform group-hover:translate-x-[-3px] group-hover:translate-y-[-3px] shadow-custom-black group-hover:shadow-[8px_8px_0px_#000000]
    }

    .role-card{
        @apply flex flex-col w-80 h-[28rem] bg-custom-white border-custom rounded-md border-custom-black shadow-custom-black p-4 gap-6
        sm:w-64 sm:h-[32rem]
    }

    .btn{
        @apply flex items-center justify-center gap-2 p-1 relative w-[70%] font-body font-bold border-custom border-custom-black shadow-custom-black rounded-md text-custom-orange bg-custom-blue cursor-pointer hover:border-custom 
        hover:border-custom-blue hover:shadow-custom-blue hover:bg-custom-white hover:text-black
        md:w-[80%]
    }

    .btn-img1{
        @apply absolute inset-0 w-full h-full transition-opacity duration-300 group-hover:opacity-0
    }

    .btn-img2{
        @apply absolute inset-0 w-full h-full opacity-0 transition-opacity duration-200 group-hover:opacity-100
    }


}

